.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  align-items: center;
}

.navbar input {
  width: 400px;
  padding: 8px;
}

.logo {
  color: purple;
}

button {
  margin: 5px;
}